@page
@model proyectoIngSoftware.Pages.Linea.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Lineas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lineas.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lineas.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lineas.Longitud)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lineas.Longitud)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Lineas.IdLinea" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Regresar</a>
    </form>
</div>
