@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Restablecer confirmación de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Se ha restablecido tu contraseña. Por favor, <a asp-page="./Login">haz clic aquí para iniciar sesión</a>.
</p>
