@page
@model PrivacyModel
@{
    ViewData["Title"] = "GRUPO #2";
}
<h1>@ViewData["Title"]</h1>

<p>
    Erick Donaldo Oliva del Cid 7691-20-10863<br/>
    Hugo Wilhelm Ubedo Reyes 7691-20-2920<br />
    Elmer Fernando Monterroso Quisquinay 7690-20-16343<br/>
    Manuela Yesenia García Pérez 7690-20-12268<br/>
    Wilmer Juan Deleon 7690-20-7733<br />
    Angela Valentina González Pamal 1290-20-19006<br />
</p>
